{
  "plugins": [
      "react"
  ],
  "extends": "eslint:recommended",
  "env": {
    "browser": true,
    "commonjs": false,
    "node": true,
    "es6": true,
    "mocha": true
  },
  "parserOptions": {
    "ecmaVersion": 6,
    "sourceType": "module",
    "ecmaFeatures": {
      "jsx": true
    }
  },
  "rules": {
    "react/jsx-uses-react": "error",
    "react/jsx-uses-vars": "error",      
    "no-console": "off",
    "strict": ["error", "global"],
    "curly": "warn"
  }
}